*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0px 500px;
    margin-top: 10%;
    padding: 25px;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container input{
    padding: 7px;
    margin: 5px;
    
}
.container label{
    text-align: center;
}
#imcicon{
    width: 50px;
    display: block;
    margin: auto;
}
.container h1{
    text-align: center;
}
.container button{
    width: 40%;
    display: block;
    margin: auto;
   margin-top: 40px;
   margin-bottom: 15px;
}
.container span{
    text-align: center;
}
hr{
    margin-bottom: 10px;
    margin-top: 3px;
}
#btn{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(30, 238, 168);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 0.5s;
}
#btn:hover{
    scale: 1.3;
    background-color: rgb(27, 192, 137);
}
.navbar{
    display: flex;
    width: 100%;
    padding: 25px;
    justify-content: center;
    background-color: aqua;

}
.logo{
    position: absolute;
    top: 0%;
    left: 6%;
    display: flex;
    padding: 15px;
    background-color: rgb(225, 255, 179);
    border-radius: 5px;
    text-decoration: underline;
}
#logoicon{
    width: 40px;
}
.navbar h2{
    margin-left: 5px;
}

ul{
    display: flex;

   
}
ul li{
    margin: 0px 15px;
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
#mds{
    width: 25px;
   
    
}
ul li button{
    border: none;
    background-color: aqua;
}
footer{
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 100%;
}
a:hover{
    font-size: 1.3em;
    text-decoration: underline;
}
#mds:hover{
    scale: 1.3;
}

